#hero {
    position: relative;   
       background-image: url("../assets/image.png");
       background-position: center;
       height: 100vh; 
           display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {

    width: 50%;
}

.left h1 {
    font-size: 4rem;
    color: white;
    margin: 10px 0;
}

.left p {
    color: white;
}